*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main_container {
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    background-color: antiquewhite;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.center_article {
    width: 50%;
    height: 250px;

    background-color: darkkhaki;
    border-radius: 5px;
    border: 3px solid black;
}
.box_header {
    margin: 5px 5px;
    height: 30px;
    border: 1px solid black;
    color: white;

    padding-left: 15px;
    padding-top: 5px;

    font-size: 20px;
    font-weight: bolder;
    font-style: italic;

    background-color: darkolivegreen;
}
#innerContent {
    font-size: 25px;
    padding-left: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.user_info_ul {
    padding: 30px;
}